doctype html
html
    head
        title Error
        link(rel="stylesheet" href="/styles.css")
    body
        include navbar
        .container
            h1 Error
            p #{error}
            a.button(href="/contact") Back to Contact Us
