doctype html
html
    head
        title Quick Sale Savers - Home
        link(rel="stylesheet" href="/home.css")
    body
        include navbar
        .container
            header
                h1 Quick Sale Savers
                p Your ultimate destination for last-minute discounts!

            .hero
                img(src="./banner1.jpg" alt="Hero Image")
                .hero-text
                    h2 Save Big on Expiring Products!
                    p Find amazing deals on ready-to-expire products near you. Shop now and save more!
                    button.hero-btn Explore Deals

            section.services
                h2 Our Services
                .service-cards
                    .card
                        img(src="/near_by_stores.jpg" alt="Service 1")
                        h3 Find Nearby Stores
                        p Discover stores near you offering ready-to-expire products.
                    .card
                        img(src="/exclusive_discounts.jpg" alt="Service 2")
                        h3 Exclusive Discounts
                        p Get exclusive deals you won’t find elsewhere.
                    .card
                        img(src="/efp.jpg" alt="Service 3")
                        h3 Eco-Friendly Shopping
                        p Save the planet by reducing food waste while saving money.

            section.reviews
                h2 What Our Customers Say
                .review-cards
                    .review
                        img(src="/old_man.jpg" alt="User 1")
                        p "Quick Sale Savers has been a game-changer for my budget shopping!"
                        span - Jane Doe
                    .review
                        img(src="/man.jpg" alt="User 2")
                        p "I love how easy it is to find deals in my area!"
                        span - John Smith
                    .review
                        img(src="/girl.jpg" alt="User 3")
                        p "An eco-friendly and cost-effective way to shop!"
                        span - Sarah Lee

            footer
                p © 2024 Quick Sale Savers. All rights reserved.
