link(rel="stylesheet" href="/navbar.css")
nav.navbar
    .navbar-left
        a.navbar-logo(href="/")
            img(src="./logo.jpg" alt="Quick Sale Savers Logo")
        ul.navbar-list
            li
                a(href="/admin-dashboard") Dashboard
            //- li
            //-     a(href="/about") About Us
            li
                a(href="/contactus") Contact Us
            //- li
            //-     a(href="/products") All Products
    .navbar-right
        ul.navbar-auth
            li
                a(href="/logout") Logout


