link(rel="stylesheet" href="/navbar.css")
nav.navbar
    .navbar-left
        a.navbar-logo(href="/")
            img(src="../logo.jpg" alt="Quick Sale Savers Logo")
        ul.navbar-list
            li
                a(href="/") Home
            li
                a(href="/about") About Us
            li
                a(href="/contact") Contact Us
            li
                a(href="/products") All Products
    .navbar-right
        ul.navbar-auth
            li
                a(href="/login") Login
            li
                a(href="/signup") Signup


